body {
    box-sizing: border-box;
}

header {
    background-color: rgb(45, 45, 136);
    display:block;  
}

.p-5 {
    padding: 1.2rem;
}

h1 {
    color: white;
    text-align: center; 
}
form {
    width: 100%;
}

#search-list {
    display: none;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

.mt-4 {
    margin-top: 1.4rem;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
      }

    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
      }
}      
      
@media screen and (min-width: 992px) {

    .col-lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
      }
}