body {
    box-sizing: border-box;
}

header {
    background-color: rgb(45, 45, 136);
    display:block;  
}

.p-5 {
    padding: 1.2rem;
}

h1 {
    color: white;
    text-align: center; 
}
form {
    width: 100%;
}

#search-list {
    display: none;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
